<ion-app [hidden]="scanActive">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content
      class="ion-padding"
      [style.--background]="scanActive ? '#00000000':'#ffffff'"
    >
      <form [formGroup]="globalForm">
        <ion-select
          formControlName="To"
          interface="popover"
          placeholder="أختر المخزون"
        >
          <ion-select-option *ngFor="let wh of whList" [value]="wh.id">
            {{ wh.name }}
          </ion-select-option>
        </ion-select>
      </form>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content
      [style.--background]="scanActive ? '#00000000':'#ffffff'"
      class="page-content"
    >
      <div class="ion-text-center">
        <ion-item>
          <ion-input
            labelPlacement="stacked"
            label="QR"
            placeholder="QR id"
            [(ngModel)]="result"
          >
          </ion-input>
          <ion-button
            (click)="startScan()"
            color="secondary"
            fill="clear"
            slot="end"
            aria-label="Start scan"
            class="scan-button"
          >
            <ion-icon
              slot="icon-only"
              name="barcode-outline"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
          <ion-button
            (click)="fetchDataFromApi()"
            color="secondary"
            fill="clear"
            class="fetch-button"
          >
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-item>
        <div class="card-container">
          <ion-card
            color="primary"
            class="custom-card"
            *ngFor="let result of scanResults"
          >
            <ion-card-header>
              <ion-card-title>{{ result.productunit_name }}</ion-card-title>
              <ion-card-subtitle
                >أنشئ: {{ result.created_at }}</ion-card-subtitle
              >
            </ion-card-header>
            <ion-card-content>
              الكمية: {{ result.quantity }} / {{ result.maxQuantity }}
              <ion-button fill="clear" (click)="reduce(result)"
                >reduce</ion-button
              >
            </ion-card-content>
            <form [formGroup]="result.form">
              <input type="hidden" formControlName="From" />
              <input type="hidden" formControlName="quantity" />
            </form>
          </ion-card>
        </div>
      </div>
    </ion-content>
    <div class="submit-button-container">
      <ion-button
        type="submit"
        expand="full"
        color="success"
        (click)="submitAllForms()"
      >
        Submit
      </ion-button>
    </div>
  </div>
</ion-app>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()" color="danger"
      >Stop Scan</ion-button
    >
  </ion-col>
</ion-row>
