<ion-app [hidden]="scanActive">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>الإعدادات</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="globalForm">
        <!-- Add a label and select for "From" -->
        <ion-label position="stacked">من</ion-label>
        <ion-select
          formControlName="From"
          interface="popover"
          placeholder="{{ DisplayTextFrom }}"
          (ionChange)="onWarehouseChangeFrom($event)"
        >
          <ion-select-option *ngFor="let wh of whList" [value]="wh">
            {{ wh.name }}
          </ion-select-option>
        </ion-select>
        
        <!-- Add a label and select for "To" -->
        <ion-label position="stacked">إلى</ion-label>
        <ion-select
          formControlName="To"
          interface="popover"
          placeholder="{{ DisplayTextTo }}"
          (ionChange)="onWarehouseChangeTo($event)"
        >
          <ion-select-option *ngFor="let wh of whList" [value]="wh">
            {{ wh.name }}
          </ion-select-option>
        </ion-select>
      </form>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ِApex Flow</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content
      [style.--background]="scanActive ? '#00000000' : 'none'"
      class="page-content"
    >
      <div>
        <form
          [formGroup]="globalForm"
          [hidden]="globalForm.get('To')?.value && globalForm.get('From')?.value"
        >
          <ion-item>
            <!-- Add a label for "From" -->
            <ion-label position="stacked">من</ion-label>
            <ion-select
              justify="end"
              formControlName="From"
              interface="popover"
              placeholder="{{ DisplayTextFrom }}"
              (ionChange)="onWarehouseChangeFrom($event)"
            >
              <ion-select-option *ngFor="let wh of whList" [value]="wh">
                {{ wh.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </form>
        <form
          [formGroup]="globalForm"
          [hidden]="globalForm.get('To')?.value && globalForm.get('From')?.value"
        >
          <ion-item>
            <!-- Add a label for "To" -->
            <ion-label position="stacked">إلى</ion-label>
            <ion-select
              justify="end"
              formControlName="To"
              interface="popover"
              placeholder="{{ DisplayTextTo }}"
              (ionChange)="onWarehouseChangeTo($event)"
            >
              <ion-select-option *ngFor="let wh of whList" [value]="wh">
                {{ wh.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </form>
      </div>
      <div
        class="ion-text-center"
        [hidden]="!globalForm.get('To')?.value || !globalForm.get('From')?.value"
      >
        <ion-item>
          <ion-input
            labelPlacement="stacked"
            label="QR"
            placeholder="أمسح الكود أو أكتب رقم الكود هنا"
            [(ngModel)]="result"
          >
          </ion-input>
          <ion-button
            (click)="startScan()"
            color="secondary"
            fill="clear"
            slot="end"
            aria-label="Start scan"
            class="scan-button"
          >
            <ion-icon
              slot="icon-only"
              name="barcode-outline"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
          <ion-button
            (click)="fetchDataFromApi()"
            color="secondary"
            fill="clear"
            class="fetch-button"
          >
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-list>
          <ion-accordion-group>
            <ion-accordion *ngFor="let item of scanResults">
              <ion-item slot="header">
                <ion-label class="ion-text-wrap">
                  <h2>{{ item.productunit_name }}</h2>
                  <h3>أنشئ: {{ item.created_at }}</h3>
                  <p>الكمية: {{ item.quantity }} / {{ item.maxQuantity }}</p>
                </ion-label>
              </ion-item>
              <ion-list slot="content">
                <ion-item *ngFor="let detail of item.details">
                  <ion-label>
                    ID: {{ detail.id }} - R_ID: {{ detail.random_id }}
                  </ion-label>
                  <ion-button
                    slot="end"
                    fill="clear"
                    color="danger"
                    (click)="reduce(detail)"
                  >
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
      </div>
    </ion-content>
    <div>
      <ion-button
        class="submit-button-container"
        type="submit"
        expand="block"
        color="success"
        (click)="confirmSubmission()"
      >
        تحويل الكميات
      </ion-button>
    </div>
  </div>
</ion-app>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()" color="danger"
      >Stop Scan</ion-button
    >
  </ion-col>
</ion-row>
